#dz-bathroom {
  background: url("http://www.cmhinfo.com/Content/draganddropsearch/images/bathroom-icon.png") top center no-repeat;
  background-size: 85%; }

a {
  color: #0896de;
 }

.clear {
  clear: both; }

#hdr_cont {
  position: static; }

p#nothing_found {
  font-weight: bold;
  padding: 30px; }

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  font-family: Helvetica, Arial, Tahoma, Verdana, sans-serif; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

#instructions {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 30;
  width: 100%;
  height: 100%;
  text-align: center;
  background: url("http://www.cmhinfo.com/Content/draganddropsearch/images/instruction-overlay.png") top left no-repeat;
  background-size: 100%; }

#instructions.single {
  background: url("http://www.cmhinfo.com/Content/draganddropsearch/images/instruction-overlay-single.png") top left no-repeat;
  background-size: 100%; }

#home_search_tool {
  margin: 0 6vw;
  padding-top: 20px; }
  #home_search_tool #home_search_left {
    float: left;
    width: 60vw; }
    #home_search_tool #home_search_left div#home_style_tabs {
      position: relative;
      width: 100%;
      z-index: 20; }
      #home_search_tool #home_search_left div#home_style_tabs a#style_double {
        background: url("http://www.cmhinfo.com/Content/draganddropsearch/images/bg-tab.png") top right no-repeat;
        background-size: cover; }
      #home_search_tool #home_search_left div#home_style_tabs a#style_double.active_tab {
        background: url("http://www.cmhinfo.com/Content/draganddropsearch/images/bg-tab-on.png") top right no-repeat;
        background-size: cover; }
      #home_search_tool #home_search_left div#home_style_tabs a#style_single {
        background: url("http://www.cmhinfo.com/Content/draganddropsearch/images/bg-tab2.png") top right no-repeat;
        background-size: cover; }
      #home_search_tool #home_search_left div#home_style_tabs a#style_single.active_tab {
        background: url("http://www.cmhinfo.com/Content/draganddropsearch/images/bg-tab2-on.png") top right no-repeat;
        background-size: cover; }
      #home_search_tool #home_search_left div#home_style_tabs a:link, #home_search_tool #home_search_left div#home_style_tabs a:visited, #home_search_tool #home_search_left div#home_style_tabs a:hover, #home_search_tool #home_search_left div#home_style_tabs a:active {
        color: #3d3d3d;
        background-color: #ededed;
        display: block;
        float: left;
        padding: 23px 0 10px 2%;
        width: 48%;
        text-decoration: none;
        font: 1.4em "Helvetica Neue", Helvetica, "Arial Light", Arial, sans-serif; }

div#stage #shrubs, div#home_listings #shrubs {
  position: absolute;
  top: -25%;
  left: -8%;
  width: 118%;
  z-index: 10; }

div#home_listings {
  position: relative;
  min-height: 30vw; }
  div#home_listings #shrubs {
    z-index: -10;
    top: 0;
    width: 100%; }

div#stage {
  float: left;
  margin-bottom: 10px;
  text-align: left;
  position: relative;
  width: 60vw; }
  div#stage div#droppable {
    background-color: #fff;
    width: 60vw;
    height: 30vw;
    position: relative;
    z-index: 20;
    -webkit-box-shadow: -1px 3px 5px 1px rgba(0, 0, 0, 0.27);
    -moz-box-shadow: -1px 3px 5px 1px rgba(0, 0, 0, 0.27);
    box-shadow: -1px 3px 5px 1px rgba(0, 0, 0, 0.27); }
    div#stage div#droppable #dropregion_0, div#stage div#droppable #dropregion_1, div#stage div#droppable #dropregion_2, div#stage div#droppable #dropregion_3, div#stage div#droppable #dropregion_4, div#stage div#droppable #dropregion_5, div#stage div#droppable #dropregion_6, div#stage div#droppable #dropregion_7 {
      width: 15vw;
      height: 15vw;
      float: left;
      position: relative;
      background: url("http://www.cmhinfo.com/Content/draganddropsearch/images/bg-dotted.gif") top right repeat-y; }
    div#stage div#droppable #dropregion_0, div#stage div#droppable #dropregion_1, div#stage div#droppable #dropregion_2, div#stage div#droppable #dropregion_3 {
      border-bottom: dotted 1px rgba(0, 0, 0, 0.3); }
    div#stage div#droppable #dropregion_3, div#stage div#droppable #dropregion_7 {
      background: none; }
    div#stage div#droppable .drop_regions {
      position: relative; }
    div#stage div#droppable .drop_regions div div#delete_room {
      position: absolute;
      top: 5px;
      right: 5px;
      width: 40px;
      height: 40px;
      background: url("http://www.cmhinfo.com/Content/draganddropsearch/images/close-button.png") top left no-repeat; }
    div#stage div#droppable #dropregion_0.active_dragging_class,
    div#stage div#droppable #dropregion_1.active_dragging_class,
    div#stage div#droppable #dropregion_2.active_dragging_class,
    div#stage div#droppable #dropregion_3.active_dragging_class,
    div#stage div#droppable #dropregion_4.active_dragging_class,
    div#stage div#droppable #dropregion_5.active_dragging_class,
    div#stage div#droppable #dropregion_6.active_dragging_class,
    div#stage div#droppable #dropregion_7.active_dragging_class {
      background: url("http://www.cmhinfo.com/Content/draganddropsearch/images/drop_room_here.png") center no-repeat #ccc;
      background-size: 100%; }
    div#stage div#droppable #dropregion_0.active_dragging_class_vert,
    div#stage div#droppable #dropregion_1.active_dragging_class_vert,
    div#stage div#droppable #dropregion_2.active_dragging_class_vert,
    div#stage div#droppable #dropregion_3.active_dragging_class_vert {
      height: 30vw;
      background: url("http://www.cmhinfo.com/Content/draganddropsearch/images/drop_room_here.png") center no-repeat #ccc; }
    div#stage div#droppable #dropregion_4.active_dragging_class_vert,
    div#stage div#droppable #dropregion_5.active_dragging_class_vert,
    div#stage div#droppable #dropregion_6.active_dragging_class_vert,
    div#stage div#droppable #dropregion_7.active_dragging_class_vert {
      display: none; }

a#find_homes, a#return_to_search, #pagination a {
  background: #8da91b;
  background: -moz-linear-gradient(top, #8da91b 0, #8da91b 50%, #c3d74a 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #8da91b), color-stop(50%, #8da91b), color-stop(100%, #c3d74a));
  background: -webkit-linear-gradient(top, #8da91b 0, #8da91b 50%, #c3d74a 100%);
  background: -o-linear-gradient(top, #8da91b 0, #8da91b 50%, #c3d74a 100%);
  background: -ms-linear-gradient(top, #8da91b 0, #8da91b 50%, #c3d74a 100%);
  background: linear-gradient(to bottom, #8da91b 0, #8da91b 50%, #c3d74a 100%);
  color: #fff;
  font-family: 'Arial Narrow', Arial, sans-serif;
  font-size: 1.5em;
  display: inline-block;
  padding: 10px;
  margin: 10px auto;
  font-weight: bold;
  text-decoration: none;
  text-shadow: 1px 1px 1px #44510d; }

a#return_to_search {
  font-size: 1em;
  width: 100%;
  padding: 4% 0;
  margin: 0 auto;
  text-align: center;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px; }

#checklist {
  background-color: #ededed;
  padding: 20px; }

#buttons {
  clear: both;
  text-align: center; }

.draggable_room {
  z-index: 30;
  cursor: pointer;
  text-align: center; }
  .draggable_room img {
    margin: 0 auto; }

.roomBoxActive {
  background-color: #ccc; }

.ui-draggable-dragging {
  width: 6vw; }
  .ui-draggable-dragging img {
    max-width: 5vw;
    max-height: 5vw; }

#roombox {
  float: right;
  margin-top: 1vw;
  background: url("http://www.cmhinfo.com/Content/draganddropsearch/images/bg-roombox.png");
  width: 26vw;
  padding-top: 10px;
  position: relative;
  z-index: 500; }
  #roombox div.active_dragging_class {
    background-color: #000; }
  #roombox .drop_zone {
    float: left;
    width: 8vw;
    height: 9vw; }
    #roombox .drop_zone div.draggable_room img {
      max-width: 8vw;
      max-height: 8vw; }
  #roombox p {
    text-align: left;
    color: #000;
    padding-bottom: 0;
    margin-bottom: 0; }
  #roombox #dz-master-bedroom {
    margin-top: -2vw; }

.result_heading {
  background: #0896de;
  background: -moz-linear-gradient(top, #0896de 0, #0896de 50%, #2bb8ff 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #0896de), color-stop(50%, #0896de), color-stop(100%, #2bb8ff));
  background: -webkit-linear-gradient(top, #0896de 0, #0896de 50%, #2bb8ff 100%);
  background: -o-linear-gradient(top, #0896de 0, #0896de 50%, #2bb8ff 100%);
  background: -ms-linear-gradient(top, #0896de 0, #0896de 50%, #2bb8ff 100%);
  background: linear-gradient(to bottom, #0896de 0, #0896de 50%, #2bb8ff 100%);
  padding: 2%;
  color: #fff;
  font-weight: bold;
  font-size: 1.5em;
  text-shadow: 1px 1px 1px #04537c;
  border: solid 2px #fff;
  width: 95%;
  margin: 0 auto;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  font-family: 'Arial Narrow', Arial, sans-serif; }

#home_listings {
  clear: both;
  margin: 10px 0;
  position: relative;
  z-index: 20;
  max-width: 960px;
  margin: 0 auto;
  display: none;
  padding-top: 30px; }

#home_listings_content, #loading_graphic {
  background-color: #fff;
  position: relative;
  -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
  -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
  margin-top: -5px;
  margin-bottom: 20px;
  border-radius: 3px;
  padding: 0 40px; }

#loading_graphic {
  text-align: center;
  padding: 217px 0; }

#home_listings_filters {
  float: right;
  width: 26%;
  background: url("http://www.cmhinfo.com/Content/draganddropsearch/images/bg-roombox.png");
  color: #fff;
  text-align: center;
  box-sizing: border-box;
  padding: 3%; }
  #home_listings_filters h1 {
    color: #70cffd;
    font-family: 'Arial Narrow', Arial, sans-serif;
    font-size: 1.5em;
    font-weight: bold;
    text-align: left;
    margin: .5em 0; }
  #home_listings_filters h2 {
    color: #fff;
    font-weight: bold;
    margin: .5em 0;
    text-align: left; }
  #home_listings_filters ul li {
    list-style-type: none;
    text-align: left;
    font-size: .8em;
    margin-bottom: .25em;
    margin-left: 1em; }

#home_listings_content {
  width: 65%;
  float: right;
  min-height: 300px;
  padding-top: 10px; }
  #home_listings_content #top_info {
    height: 30px;
    border-bottom: dashed 1px #ccc; }
    #home_listings_content #top_info #sorting {
      float: left;
      font-size: 12px; }
    #home_listings_content #top_info #pagination {
      float: right; }
      #home_listings_content #top_info #pagination a {
        font-size: 12px;
        padding: 5px;
        margin: 0; }
      #home_listings_content #top_info #pagination a#home_listings_content_homes-previous {
        margin-right: 20px; }
  #home_listings_content .home_listing {
    clear: both;
    padding-top: 20px;
    border-bottom: solid 1px #ccc;
    -webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    -o-transition: all 0.1s ease-in-out;
    -ms-transition: all 0.1s ease-in-out; }
    #home_listings_content .home_listing h3 {
      color: #0ea1f5;
      font-weight: bold;
      text-decoration: underline; }
    #home_listings_content .home_listing .home_specs {
      width: 28%;
      float: left;
      color: #5c5b5b;
      line-height: 150%; }
      #home_listings_content .home_listing .home_specs a {
        color: #0896de; }
    #home_listings_content .home_listing .home_images {
      width: 72%;
      float: right;
      max-width: 600px;
      margin-bottom: 20px; }
      #home_listings_content .home_listing .home_images img {
        width: 40%;
        float: left;
        border: solid 1px #ccc; }
      #home_listings_content .home_listing .home_images img.image_fp {
        border: none; }
      #home_listings_content .home_listing .home_images img.image_int {
        margin-right: 10%; }
  #home_listings_content .home_listing:hover {
    -webkit-transform: scale(1.05);
    -moz-transform: scale(1.05);
    -o-transform: scale(1.05);
    -ms-transform: scale(1.05);
    cursor: pointer;
    background-color: #efefef; }

table#debug_table {
  position: absolute;
  top: 130px;
  left: 0;
  margin: 10px;
  background-color: #000; }
  table#debug_table tr td {
    border: solid 1px #fff;
    color: #fff;
    padding: 3px; }

@media screen and (max-width: 820px) {
  a#return_to_search {
    font-size: 1.5em;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0; }
  #home_listings {
    margin: 0; }
  #home_listings_content, #home_listings_filters {
    border-radius: 0;
    width: 100%;
    margin: 0 auto;
    padding: 0;
    float: none;
    clear: both; }
  #home_listings_filters div.filter_list {
    float: left;
    width: 33%; }
  #home_search_tool #home_search_left div#home_style_tabs a#style_double, #home_search_tool #home_search_left div#home_style_tabs a#style_single {
    font-size: .8em;
    padding: 3px 0 3px 1%;
    padding-top: 10px;
    padding-bottom: 10px; }
  #home_search_tool {
    margin: 0; }
  #home_search_tool #home_search_left {
    float: none;
    margin: 0 auto;
    clear: both;
    width: 100%;
    text-align: center; }
  #home_search_tool #roombox {
    float: none;
    clear: both;
    width: 100%; }
  .result_heading {
    border: none;
    padding: 10px 0;
    margin: 0;
    width: 100%;
    text-align: center; }
  #roombox .drop_zone {
    width: 22vw;
    height: 22vw; }
  #roombox .drop_zone div.draggable_room img {
    max-width: 20vw;
    max-height: 20vw; }
  div#stage {
    width: 100%;
    background: url("http://www.cmhinfo.com/Content/draganddropsearch/images/bg-roombox.png");
    margin-bottom: 0;
    border-bottom: dashed 1px #808080;
    padding-bottom: 5px;
    padding-top: 5px; }
  div#stage div#droppable {
    margin: 0 auto;
    box-shadow: none;
    border-left: dotted 1px;
    border-right: dotted 1px; }
  #shrubs {
    display: none !important;
    margin-bottom: 50px; }
  #instructions {
    width: 60vw;
    height: 30vw;
    margin: 0 auto;
    position: relative;
    margin-top: -30vw; }
  #instructions.single {
    margin-top: -15vw; }
  .home_listing {
    width: 90%;
    margin: 0 auto;
    padding-bottom: 20px; }
  #home_listings_content .home_listing .home_specs, #home_listings_content .home_listing .home_images {
    width: 100%;
    float: none;
    clear: both; }
  #home_listings_content .home_listing .home_images img {
    float: none;
    clear: both;
    width: 100%;
    margin: 0; } }
